@using SimSoDep.Models
@model List<LoaiGiaModel>
@{
    ViewBag.Title = "Loai gia";
    var grid = new WebGrid(Model, rowsPerPage: 20);
}
<h2>
    Loại giá</h2>
@Html.Partial("_CatagoryMenu")
<div class="tableContent">
@Html.ActionLink("Thêm loại giá","Add","LoaiGiaManager")
    @grid.GetHtml(columns: grid.Columns(
                             grid.Column("Id", "ID"),
                             grid.Column("Ten", "Loại giá"),
                                     grid.Column("SapXep", "Sắp xếp"),
                                             grid.Column("TenStatus", "Status"),
                             grid.Column("Alias", "Alias"),
                                             grid.Column("EnumFixed", "Enum data"),
                                     grid.Column(columnName: "", header: "", format: (item) =>
                                     {
                                         var links = Html.ActionLink("Edit", "Edit", new { controller = "LoaiGiaManager", id = item.Id }) + " | " +
                                                     Html.ActionLink("Delete", "Delete", new { controller = "LoaiGiaManager", id = item.Id });

                                         return Html.Raw(links);

                                     })
                       ))
</div>
