<div id="danhmuc">
    <ul>
        <li>@Html.ActionLink("Năm sinh", "Index", "NamSinhManager")</li>
        <li>@Html.ActionLink("Bát quái", "Index", "BatQuaiManager")</li>
        <li>@Html.ActionLink("Kinh dịch", "Index", "KinhDichManager")</li>
    </ul>
</div>