@{
    ViewBag.Title = "Index";
}
@*<script src="@Url.Content("~/Scripts/SimSoDep.js")" type="text/javascript"></script>*@
<style>
#idDaiLy
{
    width:300px;
}
#soData
{
    width:300px;
    height: 400px;
}

</style>
<h2>Nhập file excel vào database</h2>
<h4>@ViewBag.Message</h4>
@using (Html.BeginForm("Import", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return checkFileExtension()" }))
{
    <label>Đại lý:</label><br/>@Html.DropDownList("DaiLy", ViewBag.DaiLy as SelectList,new {id="idDaiLy"})
    <br/>
    @*<label>Chọn tệp:</label><input type="file" name="ExcelFile" id="fileUpload"/>*@
    <label>Số data: </label><br/><textarea name="TxtSoDienThoai" id="soData"></textarea>
    <input type="submit" value="OK"/>
}
