@{
    ViewBag.Title = "Đặt sim thành công";
}

<h3>Dặt sim thành công</h3>
<div style="text-align: center;color: blue">
<h3>Cảm ơn bạn đã đặt mua sim </h3>
<h3>Chúng tôi sẽ liên lạc với bạn sớm nhất</h3>
</div>
<br />
<div style="text-align: right">
    @Html.ActionLink("Trở về trang chủ", "Index","Home")
</div>