@{
    ViewBag.Title = "Lỗi";
}

<h2>Đặt sim không thành công</h2>
<div style="text-align: center;color: red">
<h3>Quá trình đặt sim đã xảy ra lỗi. Quý khách hãy đặt sim lại.</h3>
</div>
<br />
<div style="text-align: right">
    @Html.ActionLink("Trở về trang chủ", "Index","Home")
</div>